In [47]:
import pandas as pd
df = pd.read_csv('odi.csv')

In [48]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total,win
0,1524,2013-01-11,Saurashtra Cricket Association Stadium,India,England,AM Rahane,ST Finn,0,0,0.1,0,0,0,0,325,0
1,1524,2013-01-11,Saurashtra Cricket Association Stadium,India,England,AM Rahane,ST Finn,0,0,0.2,0,0,0,0,325,0
2,1524,2013-01-11,Saurashtra Cricket Association Stadium,India,England,AM Rahane,ST Finn,0,0,0.3,0,0,0,0,325,0
3,1524,2013-01-11,Saurashtra Cricket Association Stadium,India,England,AM Rahane,ST Finn,4,0,0.4,4,0,4,0,325,0
4,1524,2013-01-11,Saurashtra Cricket Association Stadium,India,England,AM Rahane,ST Finn,4,0,0.5,4,0,4,0,325,0

In [49]:
X = df.iloc[:, [7,8,9,12,13,14]].values # input features
y = df.iloc[:, 15].values # target

In [50]:
df_X = pd.DataFrame(X)
df_X.head()

     0    1    2    3    4      5
0  0.0  0.0  0.1  0.0  0.0  325.0
1  0.0  0.0  0.2  0.0  0.0  325.0
2  0.0  0.0  0.3  0.0  0.0  325.0
3  4.0  0.0  0.4  4.0  0.0  325.0
4  4.0  0.0  0.5  4.0  0.0  325.0

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [52]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [53]:
X_train[:5]

array([[-0.13082677, -0.40312525, -0.09091043,  0.57478911, -0.25259717,
        -1.03256621],
       [-1.02091154, -1.24107416, -1.17656085, -0.44470246,  0.08441898,
        -1.54653158],
       [ 1.00959435,  1.27277257,  0.87411217,  0.15944069, -0.38740363,
         1.93516931],
       [-1.45204635, -0.82209971, -1.47059118, -1.16212245, -0.65701655,
         0.12800075],
       [ 0.03606413, -0.40312525, -0.08337119,  0.91461963,  1.36508036,
        -2.14339459]])

In [54]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression(random_state=0, solver='lbfgs', multi_class='multinomial')
log.fit(X_train, y_train)

LogisticRegression(multi_class='multinomial', random_state=0)

In [55]:
y_pred = log.predict(X_test)

In [56]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, y_pred)
print(f"Accuracy is: {score}")

Accuracy is: 0.8162851460437547

In [57]:
import numpy as np
new_prediction = log.predict_proba(sc.transform(np.array([[100, 5, 20, 23, 34, 300]])))
new_prediction

array([[0.91814363, 0.08185637]])

In [58]:
print("Winning chances:", new_prediction[0][1]*100)

Winning chances: 8.185636608327341

In [59]:
new_prediction = log.predict_proba(sc.transform(np.array([[200, 3, 25, 23, 34, 300]])))
print("Winning chances:", new_prediction[0][1]*100)

Winning chances: 88.71403766907446

In [60]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

RandomForestClassifier()

In [61]:
y_pred = rf.predict(X_test)

In [62]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, y_pred)
print(f"Accuracy is: {score}")

Accuracy is: 0.9920056155676013

In [71]:
new_prediction = log.predict_proba(sc.transform(np.array([[280, 9, 25, 23, 34, 300]])))
print("Winning chances:", new_prediction[0][1]*100)

Winning chances: 84.75544247202845

In [72]:
new_prediction = rf.predict_proba(sc.transform(np.array([[280, 9, 25, 23, 34, 300]])))
print("Winning chances:", new_prediction[0][1]*100)

Winning chances: 33.0

In [74]:
import pickle
pickle.dump(log, open('Trained_model/odi_logistic.pkl', 'wb'))